.preloader-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    /* White background to match Zestine starting theme */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    /* Top level */
}

.preloader-logo {
    width: 120px;
    height: 120px;
}